{namespace neos=Neos\Neos\ViewHelpers}
<f:render section="itemList" arguments="{items: items, site: site}" />
<f:section name="itemList">
    <div id="toggle" class="floatright"><span></span><span></span><span></span><span></span></div>
    <div id="menutoggle" class="responsivemenu">
        <nav>
            <ul class="dropdown">
                <f:for each="{items}" as="item" iteration="menuItemIterator">
                    <li>
                        <f:if condition="{item.subItems}">
                            <f:then>
                                <f:if condition="{item.node.properties.noSubMenu}">
                                    <f:then>
                                        <neos:link.node node="{item.node}" class="{item.state}">{item.label}</neos:link.node>
                                    </f:then>
                                    <f:else>
                                        <neos:link.node node="{item.node}" class="{item.state}">{item.label} <i class="fa fa-angle-down" aria-hidden="true"></i></neos:link.node>
                                        <f:render section="subList" arguments="{items: item.subItems}" />
                                    </f:else>
                                </f:if>
                            </f:then>
                            <f:else>
                            <neos:link.node node="{item.node}" class="{item.state}">{item.label}</neos:link.node>
                            </f:else>
                        </f:if>
                    </li>
                </f:for>
            </ul>
        </nav>
    </div>
</f:section>
<f:section name="subList">
    <ul class="dds">
        <f:for each="{items}" as="item"><li><neos:link.node class="{item.state}" node="{item.node}">{item.label} <f:if condition="{item.subItems}"> <i class="fa fa-angle-right" aria-hidden="true"></i></f:if></neos:link.node>
            <f:if condition="{item.subItems}"><f:if condition="{item.node.properties.noSubMenu}"><f:then></f:then><f:else><f:render section="subList2" arguments="{items: item.subItems}" /></f:else></f:if></f:if>
        </li>
        </f:for>
    </ul>
</f:section>
<f:section name="subList2">
    <ul class="dds">
        <f:for each="{items}" as="item"><li><neos:link.node class="{item.state}" node="{item.node}">{item.label}</neos:link.node></li></f:for>
    </ul>
</f:section>

